node_modules
dist
.git
.gitignore
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.spec.ts
coverage
.nyc_output
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode
.idea
*.sublime-workspace
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
generated/prisma
